@media(max-width: 767px) {
  /* Navbar Styling */
  #navbar {
    display: block;
    text-align: center;
  }

  #navbar .logo a {
    font-size: 1.5rem;
    text-align: center;
  }

  #navbar .logo {
    padding: .7rem 0;
  }

  #navbar ul {
    display: flex;
    justify-content: center;
  }

  #navbar ul li a {
    font-size: .8rem;
    padding: .3rem .4rem;
  }

  #navbar .btn .sign-in,
  #navbar .btn .sign-up {
    padding: .3rem 1rem;
  }

  /* Section: Design */
  #design {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  #design .design-img img {
    margin: .5rem 0;
  }

  #design .design-content h1 {
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    margin: .5rem 0;
  }

  #design .design-content p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 1.7rem 0;
  }

  #design .design-content .btn {
    padding: .3rem 1rem;
    margin: auto;
  }

  /* Section: tool */
  #tool h2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

  #tool .card {
    flex-direction: column;
  }

  #tool .card .item {
    padding: 0;
  }

  #tool .card .item i {
    padding: 2.1rem;
    margin: 1rem 0;
  }

  #tool .card .item h3 {
    padding: 0;
    font-size: 1.1rem;
  }

  #tool .card .item p {
    font-size: .9rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }

  #tool .btn {
    display: inline-block;
    padding: .3rem 1rem;
    margin-right: .8rem;
    background: var(--body-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* Section: Professional */
  #professional {
    flex-direction: column-reverse;
  }

  #professional .professional-content h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  #professional .professional-content p {
    font-size: .9rem;
    line-height: 1.3rem;
    text-align: center;
  }

  #professional .professional-content h3 {
    font-size: 1rem;
    margin-bottom: .5rem;
    text-align: center;
  }

  /* Section: manager */
  #manager {
    flex-direction: column;
  }

  #manager .manager-content h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  #manager .manager-content div {
    display: block;
    text-align: center;
  }
}
