@media(min-width: 768px) and (max-width: 999px) {
  /* Navbar Styling */
  #navbar .logo {
    font-size: 1.7rem;
  }

  #navbar ul li a {
    font-size: .8rem;
  }

  #navbar .btn .sign-in,
  #navbar .btn .sign-up {
    padding: .4rem 1rem;
  }

  /* Section: Design */
  #design .design-content h1 {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  #design .design-content p {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  #design .design-content .btn {
    padding: .2rem .3rem;
  }

  /* Section: tool */
  #tool h2 {
    margin-bottom: .5rem;
  }

  #tool .card .item i {
    padding: 2rem;
  }

  #tool .card .item p {
    margin-bottom: 1rem;
  }

  /* Section: professional */
  #professional .professional-content h2 {
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: .7rem;
  }

  #professional .professional-content p {
    line-height: 1.4rem;
    margin-bottom: 1rem;
  }

  #professional .professional-content h3 {
    font-size: 1.1rem;
    margin-bottom: .5rem;
  }

  #professional .professional-img img {
    width: 100%;
  }

  /* Section: manager */
  #manager .manager-content h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
  }

  #manager .manager-content p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  /* Section: marketer */
  #marketer .marketer-content h2 {
    font-size: 1.7rem;
    margin-bottom: .7rem;
  }

  #marketer .marketer-content p {
    line-height: 1.4rem;
    margin: .7rem 0;
  }

  #marketer .marketer-content h3 {
    font-size: 1.1rem;
    margin: .5rem 0;
  }
}
